In [13]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [20]:
if os.path.isfile("livestock-exports.xlsx"):
    filepath = "livestock-exports.xlsx"
    print("loading from file")

ld = pd.read_excel(filepath)
print("done")

loading from file
done

In [21]:
ld.head()

  Mode Month State      Load Port Species    End Use   Country  Quantity  Year
0  Air   Jul    SA       Adelaide   Goats  Slaughter  Malaysia       100  2014
1  Sea   Jul    SA  Port Adelaide   Sheep  Slaughter   Bahrain     22000  2014
2  Sea   Jul    SA  Port Adelaide   Sheep  Slaughter     Qatar     25484  2014
3  Air   Jul    SA       Adelaide   Sheep  Slaughter  Malaysia       111  2014
4  Sea   Jul    WA      Fremantle  Cattle  Slaughter     Egypt      2403  2014